.jumbotron{
    padding-top: 32px;
    padding-bottom: 32px;
    margin-bottom: 0px;
}
/* #city-search{
    width: 75%;
} */
/* body{
    background-color: antiquewhite;
} */
#search-section{
    background-color:whitesmoke;
} 